
# https://docs.travis-ci.com/user/multi-os/
os:
  - osx
  - linux

# use container-based infrastructure on Travis
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
#sudo: false

# use VM infrastructure on Travis
# exit code 137 indicates that your build is now taking more memory
# or rather it's running alongside other builds requiring a lot of memory.
# This can happen because your builds are running on container-based infrastructure and they will share the host's 4 GB memory.
# To mitigate this situation, run your builds on our sudo-enabled Precise infrastructure.
# Over there, your builds will run on a fully independent VM with 7.5 GB of (unshared) memory.
sudo: required

# http://mailchi.mp/travis-ci/ubuntu-trusty-update-2017q4-and-new-ltslatest-process?e=073d892e7f
group: edge

language: generic

env:
  global:
    - CGAT_TASK_STEPSIZE=50
  matrix:
  - CGAT_TASK_ID=1
  - CGAT_TASK_ID=51
  - CGAT_TASK_ID=101
  - CGAT_TASK_ID=151

# Using xvfb to Run Tests That Require a GUI
# NOTE: The "before_script" section below does not work properly, but right now is not required
# Linux: https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
#  OS X:https://github.com/travis-ci/travis-ci/issues/7313#issuecomment-279914149
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3 ; fi 
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ( sudo Xvfb :99 -ac -screen 0 1024x768x8 && echo ok )& ; fi

script: 
  - travis_wait 30 ./install-CGAT-tools.sh --travis

