#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.
#
include MANIFEST.in
include LICENSE
include INSTALL
include README.rst
include KNOWN_BUGS
include THANKS.txt

include install-CGAT-tools.sh
include requires.txt

exclude CGAT/scripts/*

# CGAT scripts to include - these
# are named explicitely
include CGAT/scripts/bam_vs_bam.py
include CGAT/scripts/bam_vs_bed.py
include CGAT/scripts/bam_vs_gtf.py
include CGAT/scripts/bam2bam.py
include CGAT/scripts/bam2bed.py
include CGAT/scripts/bam2fastq.py
include CGAT/scripts/bam2geneprofile.py
include CGAT/scripts/bam2peakshape.py
include CGAT/scripts/bam2stats.py
include CGAT/scripts/bam2wiggle.py
include CGAT/scripts/bed2bed.py
include CGAT/scripts/beds2counts.py
include CGAT/scripts/bed2fasta.py
include CGAT/scripts/bed2gff.py
include CGAT/scripts/bed2stats.py
include CGAT/scripts/bed2table.py
include CGAT/scripts/beds2beds.py
include CGAT/scripts/chain2psl.py
include CGAT/scripts/chain2stats.py
include CGAT/scripts/diff_bam.py
include CGAT/scripts/diff_bed.py
include CGAT/scripts/diff_chains.py
include CGAT/scripts/diff_fasta.py
include CGAT/scripts/diff_gtf.py
include CGAT/scripts/fasta2bed.py
include CGAT/scripts/fasta2fasta.py
include CGAT/scripts/fasta2kmercontent.py
include CGAT/scripts/fasta2table.py
include CGAT/scripts/fasta2variants.py
include CGAT/scripts/fastas2fasta.py
include CGAT/scripts/fastq2fastq.py
include CGAT/scripts/fastq2table.py
include CGAT/scripts/fastqs2fasta.py
include CGAT/scripts/fastqs2fastqs.py
include CGAT/scripts/gff2bed.py
include CGAT/scripts/gff2coverage.py
include CGAT/scripts/gff2fasta.py
include CGAT/scripts/gff2gff.py
include CGAT/scripts/gff2histogram.py
include CGAT/scripts/gff2psl.py
include CGAT/scripts/gff2stats.py
include CGAT/scripts/gtf2fasta.py
include CGAT/scripts/gtf2gff.py
include CGAT/scripts/gtf2gtf.py
include CGAT/scripts/gtf2tsv.py
include CGAT/scripts/gtf2table.py
include CGAT/scripts/gtfs2tsv.py
include CGAT/scripts/index_fasta.py
include CGAT/scripts/randomize_lines.py
include CGAT/scripts/split_gff.py
include CGAT/scripts/vcf2vcf.py

# other CGAT/scripts
include CGAT/scripts/__init__.py
include CGAT/scripts/cgat.py
include CGAT/scripts/version.py

# extensions
include CGAT/scripts/*.pyxbld
include CGAT/scripts/*.pyx
include CGAT/Components/*.h
include CGAT/Components/*.cpp
include CGAT/NCL/*.h
include CGAT/NCL/*.pxd
include CGAT/NCL/intervaldb.c
