#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.
#
include MANIFEST.in
include LICENSE
include INSTALL
include README.txt
include KNOWN_BUGS
include THANKS.txt

include install_requisites.sh

# CGAT scripts to include - note that these
# are named explicitely
include scripts/bams2correlation.py
include scripts/bam2bed.py
include scripts/bam2fastq.py
include scripts/bam2geneprofile.py
include scripts/bam2peakshape.py
include scripts/bam2stats.py
include scripts/bam2transcriptContribution.py
include scripts/bam2UniquePairs.py
include scripts/bam2wiggle.py
include scripts/bed2bed.py
include scripts/beds2counts.py
include scripts/bed2fasta.py
include scripts/bed2gff.py
include scripts/bed2stats.py
include scripts/bed2table.py
include scripts/beds2beds.py
include scripts/chain2psl.py
include scripts/chain2stats.py
include scripts/diff_bed.py
include scripts/diff_chains.py
include scripts/diff_fasta.py
include scripts/diff_gtf.py
include scripts/diff_gtfs.py
include scripts/fasta2bed.py
include scripts/fasta2counts.py
include scripts/fasta2fasta.py
include scripts/fasta2gff.py
include scripts/fasta2kmercontent.py
include scripts/fasta2table.py
include scripts/fasta2variants.py
include scripts/fastas2fasta.py
include scripts/fastq2fastq.py
include scripts/fastq2table.py
include scripts/fastqs2fasta.py
include scripts/fastqs2fastq.py
include scripts/gff2bed.py
include scripts/gff2coverage.py
include scripts/gff2fasta.py
include scripts/gff2gff.py
include scripts/gff2histogram.py
include scripts/gff2psl.py
include scripts/gff2stats.py
include scripts/gff2table.py
include scripts/go2plot.py
include scripts/go2svg.py
include scripts/gtf2fasta.py
include scripts/gtf2gff.py
include scripts/gtf2gtf.py
include scripts/gtf2tsv.py
include scripts/gtf2table.py
include scripts/gtfs2graph.py
include scripts/index_fasta.py
include scripts/rnaseq_bam_vs_bed.py
include scripts/rnaseq_bam_vs_exons.py
include scripts/rnaseq_bams_vs_bams.py
include scripts/rnaseq_bams2bam.py
include scripts/rnaseq_junction_bam2bam.py
include scripts/softmask.py
include scripts/split_gff.py
include scripts/vcf2vcf.py

# extensions
include scripts/*.pyxbld
include scripts/*.pyx
include CGAT/Components/*.h
include CGAT/Components/*.cpp
include CGAT/NCL/*.h
include CGAT/NCL/*.pxd
include CGAT/NCL/intervaldb.c
